<div class="container">
    <form (ngSubmit)="onSubmit($event)">
        <div class="form-group row">
            <label for="ticketDate" class="col-xs-3 col-form-label">Factuurdatum</label>
            <div class="col-xs-9">
                <input class="form-control" [(ngModel)]="ticketDate" name="ticketDate" type="date" id="ticketDate" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="incomeType" class="col-xs-3 col-form-label">Inkomen type</label>
            <div class="col-xs-9">
                <div class="custom-radio" id="incomeType">
                    <label><input type="radio" [(ngModel)]="model.income" name="incomeType" [value]="true"> Inkomen</label>
                    <label><input type="radio" [(ngModel)]="model.income" name="incomeType" [value]="false"> Uitgaven</label>
                </div>
            </div>
        </div>
        <div class="form-group row" *ngIf="model.income">
            <label for="forMonth" class="col-xs-3 col-form-label">Inkomen voor welke maand</label>
            <div class="col-xs-9">
                <select id="forMonth" name="forMonth" [(ngModel)]="model.forMonth" class="form-control">
                    <option *ngFor="let month of '0,1,2,3,4,5,6,7,8,9,10,11'.split(',')" [value]="month" (ngModelChange)="forMonthChanged()">{{monthLabel(month)}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="invoiceNumber" class="col-xs-3 col-form-label">Factuurnummer</label>
            <div class="col-xs-9">
                <input class="form-control" type="text" name="invoiceNumber" id="invoiceNumber" [(ngModel)]="model.invoiceNumber" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-xs-3 col-form-label">Omschrijving</label>
            <div class="col-xs-9">
                <textarea class="form-control" rows="3" name="description" id="description" [(ngModel)]="model.description" required></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="price" class="col-xs-3 col-form-label">Bedrag Ex. BTW</label>
            <div class="col-xs-9">
                <input class="form-control" type="number" step=".01" [(ngModel)]="model.price" name="price" id="price" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="vat" class="col-xs-3 col-form-label">Inkomen type</label>
            <div class="col-xs-6">
                <div class="custom-radio" id="vat">
                    <label><input type="radio" [(ngModel)]="model.vatRate" name="vatRate" [value]="21"> 21 %</label>
                    <label><input type="radio" [(ngModel)]="model.vatRate" name="vatRate" [value]="6"> 6 %</label>
                    <label><input type="radio" [(ngModel)]="model.vatRate" name="vatRate" [value]="0"> 0 %</label>
                </div>
            </div>
            <div class="col-xs-3" *ngIf="model.price">
                BTW {{model.price * model.vatRate/100}}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-xs-offset-3 btn btn-link" for="my-file-selector">
                <input id="my-file-selector" type="file" name="ticketImage" (change)="onFileChange($event)" style="display:block;" required>
            </label>
        </div>
        <button type="submit" class="btn btn-default">Ok</button>
    </form>
</div>