<md-card>
    <md-card-header>
        <md-card-title>Please fill in this form</md-card-title>
    </md-card-header>
    <md-card-content>
        <form (ngSubmit)="onSubmit($event)" style="width: 400px">
            <p>
                <md-input-container class="full-width">
                    <input mdInput [mdDatepicker]="ticketDatePicker" [(ngModel)]="model.ticketDate" name="ticketDate"
                           placeholder="Factuurdatum">
                    <button mdSuffix [mdDatepickerToggle]="ticketDatePicker"></button>
                    <md-datepicker #ticketDatePicker></md-datepicker>
                </md-input-container>
            </p>
            <p>
                <md-radio-group class="full-width" [(ngModel)]="model.income" name="incomeType">
                    <md-radio-button [value]="true">Inkomen</md-radio-button>
                    <md-radio-button [value]="false">Uitgave</md-radio-button>
                </md-radio-group>
            </p>
            <p>
                <md-radio-group class="full-width" [(ngModel)]="model.carcost" name="carcostType">
                    <md-radio-button [value]="true">Autokosten</md-radio-button>
                    <md-radio-button [value]="false">Overige kosten</md-radio-button>
                </md-radio-group>
            </p>
            <p>
                <md-select class="full-width" placeholder="Inkomen voor welke maand" *ngIf="model.income" [(ngModel)]="model.forMonth"
                           name="forMonth" (ngModelChange)="forMonthChanged($event)">
                    <md-option *ngFor="let month of '0,1,2,3,4,5,6,7,8,9,10,11'.split(',')" [value]="month">
                        {{monthLabel(month)}}
                    </md-option>
                </md-select>
            </p>
            <p>
                <md-input-container class="full-width">
                    <input mdInput placeholder="Factuurnummer" [(ngModel)]="model.invoiceNumber" name="invoiceNumber" required>
                </md-input-container>
            </p>
            <p>
                <md-input-container class="full-width">
                    <textarea mdInput placeholder="Omschrijving" [(ngModel)]="model.description" name="description"
                              required></textarea>
                </md-input-container>
            </p>
            <p>
                <md-input-container class="full-width">
                    <input mdInput type="number" step=".01" [(ngModel)]="model.price" name="price" required>
                </md-input-container>
            </p>
            <p>
                <md-radio-group class="full-width" [(ngModel)]="model.vatRate" name="vatRate">
                    <md-radio-button [value]="21"> 21 %</md-radio-button>
                    <md-radio-button [value]="20"> 20 %</md-radio-button>
                    <md-radio-button [value]="19"> 19 %</md-radio-button>
                    <md-radio-button [value]="6"> 6 %</md-radio-button>
                    <md-radio-button [value]="0"> 0 %</md-radio-button>
                </md-radio-group>
                    <md-list *ngIf="model.price">
                        BTW {{model.price * model.vatRate/100}}
                    </md-list>
            </p>
            <p>
                <label for="my-file-selector">
                    <input class="full-width" id="my-file-selector" type="file" name="ticketImage" (change)="onFileChange($event)"
                           style="display:block;" required>
                </label>
            </p>
            <p>
                <md-card-actions class="full-width">
                    <button md-raised-button type="submit">Ok</button>
                </md-card-actions>
            </p>
        </form>
    </md-card-content>
</md-card>