<mat-card>
    <form style="width: 400px">
        <p>
            <mat-select class="full-width" placeholder="Periode" [(ngModel)]="period.choice" name="period"
                       (ngModelChange)="onDateChange($event)">
                <mat-option *ngFor="let p of period.values" [value]="p">{{p}}</mat-option>
            </mat-select>
        </p>
        <p>
            <mat-input-container class="full-width">
                <input matInput [matDatepicker]="fromPicker" [(ngModel)]="fromDate" (ngModelChange)="onDateChange($event)"
                       name="fromDate" placeholder="Vanaf datum">
                <mat-datepicker-toggle matSuffix [for]="fromPicker"></mat-datepicker-toggle>
            </mat-input-container>
            <mat-datepicker #fromPicker></mat-datepicker>
        </p>
        <p>
            <mat-input-container class="full-width">
                <input matInput [matDatepicker]="toPicker" [(ngModel)]="toDate" (ngModelChange)="onDateChange($event)"
                       name="toDate" placeholder="Vanaf datum">
                <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
            </mat-input-container>
            <mat-datepicker #toPicker></mat-datepicker>
        </p>
        <p>
            <mat-radio-group class="full-width" [(ngModel)]="which" name="which">
                <mat-radio-button *ngFor="let r of reports" [value]="r">{{r}}</mat-radio-button>
            </mat-radio-group>
        </p>
    </form>
    <hr/>

    <kmr-overview *ngIf="choice.value === 'kmr-overview'" [dataSource]="kmrDataSource"></kmr-overview>
    <tax-overview *ngIf="choice.value === 'tax'" [dataSource]="ticketDataSource"></tax-overview>
    <income-tax-overview *ngIf="choice.value === 'tax-overview';" [dataSource]="ticketDataSource"></income-tax-overview>
    <default-overview *ngIf="choice.value === 'default'" [dataSource]="ticketDataSource"
                      [onSelect]="onSelectCallBack"></default-overview>

</mat-card>
