<md-card>
    <form style="width: 400px">
        <p>
            <md-select class="full-width" placeholder="Periode" [(ngModel)]="period.choice" name="period"
                       (ngModelChange)="onDateChange($event)">
                <md-option *ngFor="let p of period.values" [value]="p">{{p}}</md-option>
            </md-select>
        </p>
        <p>
            <md-input-container class="full-width">
                <input mdInput [mdDatepicker]="fromPicker" [(ngModel)]="fromDate" (ngModelChange)="onDateChange($event)"
                       name="fromDate" placeholder="Vanaf datum">
                <button mdSuffix [mdDatepickerToggle]="fromPicker"></button>
            </md-input-container>
            <md-datepicker #fromPicker></md-datepicker>
        </p>
        <p>
            <md-input-container class="full-width">
                <input mdInput [mdDatepicker]="toPicker" [(ngModel)]="toDate" (ngModelChange)="onDateChange($event)"
                       name="toDate" placeholder="Vanaf datum">
                <button mdSuffix [mdDatepickerToggle]="toPicker"></button>
            </md-input-container>
            <md-datepicker #toPicker></md-datepicker>
        </p>
        <p>
            <md-radio-group class="full-width" [(ngModel)]="which.value" name="which">
                <md-radio-button *ngFor="let r of reports" [value]="r">{{r}}</md-radio-button>
            </md-radio-group>
        </p>
    </form>
    <hr/>
    <loader></loader>

    <tax-overview *ngIf="which.value === 'tax'" [dataSource]="dataSource"></tax-overview>
    <income-tax-overview *ngIf="which.value === 'tax-overview';" [dataSource]="dataSource"></income-tax-overview>
    <default-overview *ngIf="which.value === 'default'" [dataSource]="dataSource"
                      [onSelect]="onSelect.bind(this)"></default-overview>

</md-card>
