<mat-card>
    <mat-card-header>
        <mat-card-title>registreer je kilometers</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form (ngSubmit)="onSubmit($event)" style="width: 400px">
            <p>
                <mat-input-container class="full-width">
                    <input matInput [matDatepicker]="todayDatePicker" [(ngModel)]="model.day" name="today"
                           placeholder="datum rit">
                    <mat-datepicker-toggle matSuffix [for]="todayDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #todayDatePicker></mat-datepicker>
                </mat-input-container>
            </p>
            <p>
                <mat-input-container class="full-width">
                    <input matInput placeholder="Vanaf" [(ngModel)]="model.origin" name="from" required>
                </mat-input-container>
                <mat-input-container class="full-width">
                    <input matInput placeholder="Bestemming" [(ngModel)]="model.destination" name="to" required>
                </mat-input-container>
            </p>
            <p>
                <mat-input-container class="full-width">
                    <input matInput placeholder="Eindstand" [(ngModel)]="model.endTotal" name="endTotal" type="number" required>
                </mat-input-container>

            </p>
            <p>
                <mat-radio-group class="full-width" [(ngModel)]="model.isBusiness" name="isBusiness">
                    <mat-radio-button [value]=true> Zakelijk</mat-radio-button>
                    <mat-radio-button [value]=false> Prive</mat-radio-button>
                </mat-radio-group>
            </p>
            <p>
                <mat-card-actions class="full-width">
                    <button mat-raised-button type="submit">Ok</button>
                </mat-card-actions>
            </p>

        </form>
    </mat-card-content>
</mat-card>