<mat-card>
    <mat-card-header>
        <mat-card-title>Samenvatting</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table>
            <tr>
                <th>Totaal inkomen</th>
                <th>Totaal uitgaven</th>
                <th>Totaal</th>
            </tr>
            <tr>
                <td>{{totalIncome | currency:'EUR' :'symbol':'.2' }}</td>
                <td>{{totalExpense | currency:'EUR' :'symbol':'.2'}}</td>
                <td>{{totalIncome + totalExpense | currency:'EUR' :'symbol':'.2'}}</td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
<hr>
<mat-card  *ngFor="let ticket of tickets" class="panel panel-default">
  <mat-card-header>
    <mat-card-title>
        <div [ngClass]="{'income' : ticket.income, 'expends' : !ticket.income}">{{ticket.income ? 'Bij ' : 'Af ' }}{{ticket.depreciationYears ? '1/' + ticket.depreciationYears + ' gedeelte van ' + ticket.price + ' = ' : ''}}{{yearPrice(ticket) | currency:'EUR':'symbol':'.2'}}</div>
        <div *ngIf="ticket.carcost" class="income">Autokosten</div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <img src="{{images[ticket.id]}}" style="width:90%"/>
  </mat-card-content>
</mat-card>

