<div class="table-container mat-elevation-z8">
<mat-table [dataSource]="dataSource">
  <ng-container cdkColumnDef="day">
    <mat-header-cell *cdkHeaderCellDef> Rit datum </mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row.day | date}} </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="origin">
    <mat-header-cell *cdkHeaderCellDef style="column-span: 3"> Vertek plaats </mat-header-cell>
    <mat-cell *cdkCellDef="let row" style="column-span: 3"> {{row.origin}} </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="destination">
    <mat-header-cell *cdkHeaderCellDef style="column-span: 3"> Aankomst plaats </mat-header-cell>
    <mat-cell *cdkCellDef="let row" style="column-span: 3"> {{row.destination}} </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="startTotal">
    <mat-header-cell *cdkHeaderCellDef>km stand aanvang</mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row.startTotal | number}} </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="endTotal">
    <mat-header-cell *cdkHeaderCellDef>km stand einde</mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row.endTotal | number }} </mat-cell>
  </ng-container>

  <mat-header-row *cdkHeaderRowDef="['day', 'origin', 'destination', 'startTotal', 'endTotal']"></mat-header-row>
  <mat-row [ngStyle]="{backgroundColor:getColor(row.day)}" *cdkRowDef="let row; columns: ['day', 'origin', 'destination', 'startTotal', 'endTotal'];"></mat-row>
</mat-table>
</div>