<md-toolbar>
    <button md-button [mdMenuTriggerFor]="menu">Factuur</button>
    <md-menu #menu="mdMenu">
        <button md-menu-item [routerLink]="['addTicket']">Opvoeren factuur</button>
        <button md-menu-item [routerLink]="['overview']">Rapporten</button>
    </md-menu>
    <button md-button [mdMenuTriggerFor]="kmrmenu">Kilometer registratie</button>
    <md-menu #kmrmenu="mdMenu">
        <button md-menu-item [routerLink]="['kmr']">Opvoeren registratie</button>
    </md-menu>
</md-toolbar>
<router-outlet></router-outlet>
