<table class="table table-striped table-bordered" *ngIf="tickets">
  <thead>
  <tr>
    <th class="text-primary">1. Debiteuren</th>
    <th class="text-primary">2. Crediteuren</th>
  </tr>
  </thead>
  <tr>
    <td>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th colspan="2" class="text-primary" style="text-align:right;">Exclusief BTW bedrag</th>
          <th class="text-primary">BTW</th>
        </tr>
        </thead>
        <tr>
          <td class="text-primary">BTW 21%</td>
          <td>{{results.debit21 | currency:'EUR':true:'.0-2'}}</td>
          <td>{{results.debit21 * .21 | currency:'EUR':true:'.0-2'}}</td>
        </tr>
        <tr>
          <td class="text-primary">BTW 6%</td>
          <td>{{results.debit6 | currency:'EUR':true:'.0-2'}}</td>
          <td>{{results.debit6 * .06 | currency:'EUR':true:'.0-2'}}</td>
        </tr>
        <tr>
          <td class="text-primary">BTW 0%</td>
          <td>{{results.debit0 | currency:'EUR':true:'.0-2'}}</td>
          <td>€0</td>
        </tr>
        <tr>
          <td class="text-primary">Totaal</td>
          <td>{{getDebitTotal() | currency:'EUR':true:'.0-2'}}</td>
          <td>{{results.debit21 * .21 + results.debit6 * .06 | currency:'EUR':true:'.0-2'}}</td>
        </tr>
        <tr>
          <td class="text-primary">Te betalen</td>
          <td colspan="2" class="alert-info">{{(results.debit21 * .21 + results.debit6 * .06) - (results.credit21 * .21 + results.credit6 * .06) | currency:'EUR':true:'.0-2'}}</td>
        </tr>
      </table>
    </td>
    <td>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th colspan="2" class="text-primary" style="text-align:right;">Exclusief BTW bedrag</th>
          <th class="text-primary">BTW</th>
        </tr>
        </thead>
        <tr>
          <td class="text-primary">BTW 21%</td>
          <td>{{results.credit21 | currency:'EUR':true:'.0-2'}}</td>
          <td>{{results.credit21 * .21 | currency:'EUR':true:'.0-2'}}</td>
        </tr>
        <tr>
          <td class="text-primary">BTW 6%</td>
          <td>{{results.credit6 | currency:'EUR':true:'.0-2'}}</td>
          <td>{{results.credit6 * .06 | currency:'EUR':true:'.0-2'}}</td>
        </tr>
        <tr>
          <td class="text-primary">BTW 0%</td>
          <td>{{results.credit0 | currency:'EUR':true:'.0-2'}}</td>
          <td>€0</td>
        </tr>
        <tr>
          <td class="text-primary">Totaal</td>
          <td>{{getCreditTotal() | currency:'EUR':true:'.0-2'}}</td>
          <td>{{results.credit21 * .21 + results.credit6 * .06 | currency:'EUR':true:'.0-2'}}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
