<h3>
    Ludimus. 1.0.2
    <notification></notification>
</h3>
<md-toolbar>
    <button md-button [mdMenuTriggerFor]="homeMenu"><md-icon>dashboard</md-icon></button>
    <md-menu #homeMenu="mdMenu">
            <button md-menu-item [routerLink]="['home']"><md-icon>home</md-icon> Home</button>
            <button md-menu-item [routerLink]="['changeLogin']" *ngIf="isLoggedIn()"><md-icon>build</md-icon> Change password</button>
    </md-menu>
    <button md-button [mdMenuTriggerFor]="menu">Modulen</button>
    <md-menu #menu="mdMenu">
        <button md-menu-item [routerLink]="['tax']">Belasting</button>
    </md-menu>
</md-toolbar>

<router-outlet></router-outlet>
