<div class="table-container mat-elevation-z8">
<mat-table [dataSource]="dataSource">
  <ng-container cdkColumnDef="invoiceNumber">
    <mat-header-cell *cdkHeaderCellDef> Factuurnummer </mat-header-cell>
    <mat-cell *cdkCellDef="let row" style="text-decoration:underline;cursor: pointer" (click)="onSelect(row)"> {{row.invoiceNumber}} </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="income">
    <mat-header-cell *cdkHeaderCellDef> Bij/Af </mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row.income ? 'Bij' : 'Af'}}</mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="ticketDate">
    <mat-header-cell *cdkHeaderCellDef> Factuurdatum </mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row.ticketDate | date}} </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="description">
    <mat-header-cell *cdkHeaderCellDef style="flex: 4">Omschrijving</mat-header-cell>
    <mat-cell *cdkCellDef="let row" style="flex: 4"> {{row.description}} </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="price">
    <mat-header-cell *cdkHeaderCellDef>Bedrag</mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row.price | currency:'EUR':true }} </mat-cell>
  </ng-container>

  <ng-container cdkColumnDef="vatRate">
    <mat-header-cell *cdkHeaderCellDef>BTW</mat-header-cell>
    <mat-cell *cdkCellDef="let row"> {{row.vatRate}} </mat-cell>
  </ng-container>

  <mat-header-row *cdkHeaderRowDef="['invoiceNumber', 'income', 'ticketDate', 'description', 'price', 'vatRate']"></mat-header-row>
  <mat-row [ngStyle]="{backgroundColor:row.income ? '#aaffaa' : '#ffaaaa'}" *cdkRowDef="let row; columns: ['invoiceNumber', 'income', 'ticketDate', 'description', 'price', 'vatRate'];"></mat-row>
</mat-table>
</div>